.home_box{
    width: 1660px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0 0 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.home_box div{
    padding: 20px 0 0 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
}

.form_box{
    width: 1400px;
    display: flex;
    align-items: flex-end;
}

.form_for_input{
    width: 100%;
}

.home_input{
    width: 1000px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c3c1c1;
    font-size: 17px;
}

.Search_button{
    border: none;
    background-color: #2271B3;
    color: #fff;
    font-size: 19px;
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
}