<table class=" table_card">
  <thead role="rowgroups"> 
  <tr role="row">
    <th role="columnheader">Id</th>
    <th role="columnheader">Name</th>
    <th role="columnheader">Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody role="rowgroup" class="table_body">
    <tr role="row" class="element">
        <td role="cell">1</td>
        <td role="cell">Condiments</td>
        <td role="cell">Sweet and savory sauces relishes spreads and seasonings</td>
        <td role="cell">
            <button class="edit__button">Edit</button>
            <button class="trashcan__button"><a href=""><img src="" alt=""></a></button>
        </td>
    </tr>
  </tbody>
</table>
